---

---

<header>
    <h1>Duvan A. Florez Ardila</h1>
    <p>Desarrollador frontend con más de 3 años de experiencia en la creación de aplicaciones interactivas y animadas. De la ciudad de Barranquilla, Colombia.</p>
</header>
