---

---

<section>
    <h2>Sobre mí</h2>
    <p>Cuento con más de 3 años de experiencia como desarrollador web, con un historial en diversos entornos, incluyendo <strong>proyectos en startups, investigación de nuevas tecnologías y liderazgo en el área frontend</strong>.</p>
    <p>Actualmente vivo en Soledad/Atlántico, Colombia.</p>
</section>
